div.paper {clear:left;margin-top:20px}
div.pimg {float:left;margin-bottom:10px;padding-left:3px;border-bottom:solid 1px #EEE;}
div.ptitle {font-size:15px;padding:1px;margin-left:210px;font-weight:bold;}
div.pauthors {font-size:15px;padding:1px;margin-left:210px;font-style:italic;}
div.pvenue {font-size:15px;padding:1px;margin-left:210px;}
